.white-container {
  width: 1280px;
  height: 720px;
  background-color: #ffffff;
  margin: auto;
  position: relative;
  
}

.hero {
  width: 592px;
  height: 579px;
  position: absolute;
  top: 0;
  left: 344px;
  right: 344px;
  bottom: 141px;
}

.image {
  width: 348px;
  height: 223px;
  position: relative;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 72px;
 
}

.header-text {
  width: 592px;
  height: 284px;
}

.footer {
  width: 592px;
  height: 36px;
}

.balls-decoration {
  width: 98.39px;
  height: 88px;
  position: fixed;
  bottom: 0;
  right: 0;
}


.title {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 49px;
  line-height: 56px;
  text-align: center;
  color: #000000;
  margin-bottom: 32px;
}

.first-paragraph {
  margin-bottom: 32px;
}

.second-paragraph {
  margin-bottom: 72px;
}

 .unicos {
   color:#FF9900;
   font-weight: 700;
}

.header-text {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 28px;
  text-align: center;
}

.dedicacao, 
.ambientes {
  color:  #FF9900;
}

strong {
  font-weight: 700;
}

.line {
  width: 592px;
  height: 0;
  border: 1px solid #ECEFF2;
  position: absolute;
  top: 651px;
  left: 340px;
  right: 348px;
  bottom: 33px;
}


.instagram {
  font-family:  'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 28px;
  text-align: center;    
  color:#FF9900;
  position: absolute;
  top: 665px;
  left: 225px;
  right: 348px;
  bottom: 33px;
 
}

.fale-conosco {
  font-family:  'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 28px;
  text-align: center;    
  color:#FF9900;
  position: absolute;
  top: 665px;
  left: 440px;
  right: 348px;
  bottom: 33px;
 
}

.footer a + a {
  margin-left: 28px;
}










